.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
analysis/figure
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs
data/FGG User Manual 2022.pdf
data/FGG_Database_v.2022.xlsx
data/jvc-known_vs_tested_simulation_results.csv
